[submodule "faern-rust"]
	path = faern-rust
	url = https://github.com/faern/adventofcode2016

[submodule "tiger-python3"]
	path = tiger-python3
	url = https://github.com/Tigge/advent-of-code-2016
[submodule "acz13-python35"]
	path = acz13-python35
	url = https://github.com/acz13/advent-of-code-2016.git
[submodule "anlif-python2"]
	path = anlif-python2
	url = git@github.com:anlif/advent_of_code_2016.git
[submodule "max-es6"]
	path = max-es6
	url = git://github.com/maxwihlborg/advent-of-code-2016.git
[submodule "hillerstorm-elm"]
	path = hillerstorm-elm
	url = https://github.com/hillerstorm/advent-of-code-2016
[submodule "neochrome-various"]
	path = neochrome-various
	url = git@github.com:neochrome/aoc2016-various.git
[submodule "stiju-cpp"]
	path = stiju-cpp
	url = https://github.com/Stiju/AdventOfCode.git
[submodule "plux-erlang"]
	path = plux-erlang
	url = https://github.com/plux/advent2016.git
[submodule "neochrome-ocaml"]
	path = neochrome-ocaml
	url = git@github.com:neochrome/aoc2016-ocaml.git
[submodule "karjonas-rust"]
	path = karjonas-rust
	url = https://github.com/karjonas/aoc2016
