[submodule "faern-rust"]
	path = faern-rust
	url = https://github.com/faern/adventofcode2016

[submodule "tiger-python3"]
	path = tiger-python3
	url = https://github.com/Tigge/advent-of-code-2016
[submodule "acz13-python35"]
	path = acz13-python35
	url = https://github.com/acz13/advent-of-code-2016.git
[submodule "anlif-python2"]
	path = anlif-python2
	url = git@github.com:anlif/advent_of_code_2016.git
